*{
 margin:0;
 padding:1rem;
 box-sizing:border-box;    
}

body {
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(80, 80, 80);
    color:beige;
    padding:0.5rem;
  }
 
  h1{
   text-align: center;
   width:100%;
   font-size: 3rem;
  }
  .box{
    display:flex;
   flex-flow: row wrap;
   row-gap: 0.5rem;
   justify-content: space-between;
    
  }
  
  .box>div{
    
width: 200px;
    flex-basis: 25%;
  }
  
  p{
    width:200px;
  }
  .title{
    display:flex;
    
  }
  h1:hover{
    background-color: white;
    color:black;
    cursor:crosshair;
    transition-duration: 1s;
  }
 